 @charset "utf-8";

 body ,h1 ,h2 ,ul ,p,figure{
 	margin: 0;
 	padding: 0;
 }
 ul{
 	list-style: outside none none;
 }
 #nav{
 	width: 100%;
 	min-width: 1263px;
 	height: 70px;
 	background-color: #333;
 	box-shadow: 0 1px 10px rgba(0,0,0,0.3);
 	position: relative;
 	z-index: 9999;
 }
#nav .cent{
	width: 1263px;
	height: 70px;
	margin: 0 auto; 
}
a{
	text-decoration: none;
}
#nav .h{
	width: 240px;
	height: 70px;
	background-image: url(34.png);
	text-indent: 120px;
	font-size: 21px;
	font-family: Microsoft yahei;
	color: black;
	float: left;
}
#nav .u{
	width: 650px;
	height: 70px;
	float: right;
	line-height:70px; 
	color: gray;
}
.none{
	display: none;
}
#nav .u li{
	float: left;
	width: 120px;
	text-align: center;

}
#nav .u a{
	color: gray;
	display: block;
}
#nav .u a:hover{
	background-color: black;
}
#nav .u a:hover,
#nav .active a{
	background-color: black;
}
#search{
	width: 100%;
	min-width: 1263px;
	height: 700px;
	background: url(13.jpg) no-repeat center;
	position:relative;
}
#search .center{
	width: 600px;
	height: 60px;
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -30px 0 0 -300px;
	opacity: 0.6;
	border-radius: 10px;
}
#search .searc{
	width:466px; 
	height:52px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -296px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
}
#search .button{
	width:122px; 
	height:54px;
	background-color: #eee;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 175px;
	color: #666;
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 24px;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

#tour{
	width: 1263px;
	height: 850px;
	/*background-color: #ccc;*/
	margin: 31px auto;
	text-align: center;
}
#tour .center{
	text-align: center;
}
#tour .center h2{
	font-size: 45px;
	letter-spacing: 2px;
	color: #666;
	margin: 10px 0;

}
#tour .center p{
	color: #666;
	margin: 10px 0;

}
#tour figure{
	border:1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	width: 380px;
	text-align: left;
	position: relative;
}
#tour figure img{
	vertical-align: middle;
	width: 380px;
	height: 250px;
}
#tour .info{
	padding: 5px 0 0 0;
}
body{
	background-color: white;
}
#tour figcaption{
color: #777;
line-height: 1.5;
letter-spacing: 1px;
font-size: 14px;
padding: 7px 0 5px 0;
}
#tour .title{
	color: #333;
	font-weight: normal;
}
#tour .set{
	float: right;
	font-size: 13px;
	color: #999;
	font-size: normal;
	position: relative;
	top: 5px;
	right: 5px;
}
#tour .price{
	color: #f60;
	font-size: 14px;
}
#tour .price strong{
	font-size: 20px;
	letter-spacing: 1px;
}
#tour .type{
	width:90px; 
	height:25px;
	background-color: #59b200;
	line-height: 25px;
	font-size: 14px;
	text-align: center;
	color: white;
	position: absolute;
	top:4px;
	left: 4px;
}
#footer{
height: 360px;
background-color: #222;

}
#footer .top{
	width: 1263px;
	height: 280px;
	/*background-color: red;*/
	margin: 0 auto;
	text-align: center;
}
#footer .block{
	width: 410px;
	height: 280px;
	display: inline-block;
	text-align: left;
	color: #ccc;
	vertical-align: top;
}

#footer .bottom{
	height: 80px;
	background-color: #000;
	line-height:5;
	text-align: center;
	color: #777;
	border-top: 1px solid #444;
}
#footer h2{
font-size: 24px;
font-weight: normal;
padding: 20px 0 0 20px;
}
#footer hr{
	width: 90%;
	border:1px dashed #333;
}
#footer ul{
	font-size: 18px;
	color: #777;
	text-indent: 20px;
	line-height: 2;
}
